<tr>
    <td>
        <table style="width: 100%; margin: 0 auto; max-width: 604px; margin-top: 52px;">
            <tr>
                <td style="border-bottom: 1px solid #232323; height: 48px;">

                </td>
            </tr>
        </table>
    </td>
</tr>

<table class="footer" style="width: 100%;">
    <tr>
        <td>
                <table style="width: 100%; margin: 0 auto; max-width: 604px;">
                    <tr>
                        <p class="paragraph" style="margin-top: 8px;  font-size: 14px; text-align: center; color: #232323">
                            {{ copyright_text }}

                        </p>
                        <p class="paragraph" style="margin-top: 8px;  font-size: 14px; text-align: center; color: #232323">Onepass - onepass</p>
                    </tr>
                </table>
        </td> 
    </tr>
</table>
